{% load static %}
{% load weblog_extras %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'weblog/css/bootstrap.min.css' %}">
    
    <title>{% block title %}وبلاگ{% endblock title %}</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">وبلاگ من</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'weblog:home' %}">صفحه اصلی</a>
              </li>
              {% if user.is_authenticated %}
              {% if  perms.weblog.can_write %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'weblog:new_post' %}">پست جدید</a>
              </li>
              {% endif %}
              <li class="nav-item"><span class="nav-link text-success">خوش آمدید {{ user.first_name }}</span></li>
              <li class="nav-item"><a class="nav-link text-danger" href="{% url 'weblog:logout' %}">خروج</a></li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'weblog:login' %}">ورورد</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'weblog:register' %}">ثبت نام</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex">
              <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

{% block body %}
    <div class="container mt-5">
    <div class="row">
    {% for post in posts %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top"style="height: 250px;" src="{{ post.img }}" alt="Card image cap">
        <div class="card-body" style="height: 300px;">
          <p>{{ post.category }}</p>
          <h2> {{ post.title }}</h2>
          <p class="card-text">{{ post.text }}</p>
          {% for tag in post.tag.all %}
            #{{ tag }}
          {% endfor %}
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'weblog:like' post_id=post.id value=1 %}"><button type="button" class="btn btn-sm {{ post|liked:request.user }}">پسندیدن</button></a>
              <a href="{% url 'weblog:like' post_id=post.id value=0 %}"><button type="button" class="btn btn-sm {{ post|disliked:request.user }}">نپسندیدن</button></a>
              <a href="{% url 'weblog:add_comment' post_id=post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">نظر</button></a>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
          <p><span>{{ post.post_like|count_like }}</span> پسندها</p>
          <p><span>{{ post.post_like|count_dislike }}</span> نپسندها</p>
          {% for comment in post.post_comment.all %}
          {% if comment.accepted %}
            <hr>
            <h5>{{ comment.user }}</h5>
            <p>{{ comment }}</p>
          {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock body %}
</body>
</html>